
@{
    ViewBag.Title = "New Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Order</h2>

<form id="newOrder">
    <div class="form-group">
        <label>Customer</label>
        <input id="customer" type="text" value="" class="form-control"/>
    </div>

    <div class="form-group">
        <label>Hotel</label>
        <input id="hotel" type="text" value="" class="form-control" />
    </div>

    <div class="form-group">
        <label>Start Date</label>
        <input id="startDate" type="datetime" value="" class="form-control" />
    </div>

    <div class="form-group">
        <label>End date</label>
        <input id="endDate" type="datetime" value="" class="form-control" />
    </div>

    <button class="btn btn-primary">Submit</button>
</form>
@section scripts
{
<script>
    $(document).ready(function () {

        var vm =
            {
        };

        // CUSTOMERS
        var customers = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/api/Customers?query=%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('#customer').typeahead({ minLength: 1, highlight: true }, {
            name: 'customers',
            display: 'Name',
            source: customers
        }).on("typeahead:select", function (e, customer) {
            vm.CustomerId = customer.Id;
        });

        // HOTELS
        var hotels = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/api/Hotels?query=%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('#hotel').typeahead({ minLength: 1, highlight: true }, {
            name: 'hotels',
            display: 'Name',
            source: hotels
        }).on("typeahead:select", function (e, hotel) {
            vm.HotelId = hotel.Id;
        });

        // SUBMIT
        $("#newOrder").submit(function (e) {
            e.preventDefault();

            $.ajax({
                url: "/api/NewOrders",
                type: "POST",
                data: vm
            })
                .done(function () {
                    console.log("success");
                })
                .fail(function () {

                });

        })

        // DATES
        $(document).on('change keyup paste', "#startDate", function () {
            vm.StartDate = $(this).val();
        });

        $(document).on('change keyup paste', "#endDate", function () {
            vm.EndDate = $(this).val();
        });

    });
</script>
    }

