@{
    ViewBag.Title = "New Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Order</h2>

<form id="newOrder">
    <div class="form-group">
        <div class="tt-container">
            <label>Customer</label>
            <input id="customer" required type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="tt-container">
            <label>Hotel</label>
            <input id="hotel" required type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label>Start Date</label>
        <input id="startDate" required type="datetime" value="" class="form-control" />
    </div>

    <div class="form-group">
        <label>End date</label>
        <input id="endDate" required type="datetime" value="" class="form-control" />
    </div>

    <button class="btn btn-primary">Submit</button>
</form>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {

            var vm =
                {
                };

            // CUSTOMERS
            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/Customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({ minLength: 1, highlight: true }, {
                name: 'customers',
                display: 'Name',
                source: customers
            }).on("typeahead:select", function (e, customer) {
                vm.CustomerId = customer.Id;
            });

            // HOTELS
            var hotels = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/Hotels?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#hotel').typeahead({ minLength: 1, highlight: true }, {
                name: 'hotels',
                display: 'Name',
                source: hotels
            }).on("typeahead:select", function (e, hotel) {
                vm.HotelId = hotel.Id;
            });

            // SUBMIT
            $("#newOrder").submit(function (e) {
                $("#newOrder").valid();
                e.preventDefault();

                $.ajax({
                    url: "/api/NewOrders",
                    type: "POST",
                    data: vm
                })
                    .done(function () {
                        console.log("success");
                        toastr.success("Order successfully recorded.");
                    })
                    .fail(function () {
                        toastr.error("Something unexpected happened.");
                    });

            })

            // DATES
            $(document).on('change keyup paste', "#startDate", function () {
                vm.StartDate = $(this).val();
            });

            $(document).on('change keyup paste', "#endDate", function () {
                vm.EndDate = $(this).val();
            });

        });
    </script>
}