
@{
    ViewBag.Title = "New Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Order</h2>

<form>
    <div class="form-group">
        <label>Customer</label>
        <input id="customer" type="text" value="" class="form-control"/>
    </div>

    <div class="form-group">
        <label>Hotel</label>
        <input id="hotel" type="text" value="" class="form-control" />
    </div>

    <div class="form-group">
        <label>Start Date</label>
        <input type="datetime" value="" class="form-control" />
    </div>

    <div class="form-group">
        <label>End date</label>
        <input type="datetime" value="" class="form-control" />
    </div>

    <button class="btn btn-primary">Submit</button>
</form>
@section scripts
{
<script>
    $(document).ready(function () {
        var customers = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/api/Customers?query=%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('#customer').typeahead(null, {
            name: 'customers',
            display: 'Name',
            source: customers
        });



        var hotels = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/api/Hotels?query=%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('#hotel').typeahead(null, {
            name: 'hotels',
            display: 'Name',
            source: hotels
        });

    });
</script>
    }

