
@{
    ViewBag.Title = "New Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Order</h2>

<form>
    <div class="form-group">
        <label>Customer</label>
        <input type="text" value="" class="form-control"/>
    </div>

    <div class="form-group">
        <label>Hotel</label>
        <input type="text" value="" class="form-control" />
    </div>

    <div class="form-group">
        <label>Start Date</label>
        <input type="datetime" value="" class="form-control" />
    </div>

    <div class="form-group">
        <label>End date</label>
        <input type="datetime" value="" class="form-control" />
    </div>

    <button class="btn btn-primary">Submit</button>
</form>

