@{
    ViewBag.Title = "New Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>New Order</h3>

<form id="newOrder">
    <div class="form-group">
            <label>Customer</label>
        <div class="tt-container">
            <input id="customer" name="customer" data-rule-validCustomer="true" required type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
            <label>Hotel</label>
        <div class="tt-container">
            <input id="hotel" name="hotel" data-rule-validHotel="true" required type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label>Start Date</label>
        <input id="startDate" name="startDate" required type="datetime" value="" class="form-control" />
    </div>

    <div class="form-group">
        <label>End date</label>
        <input id="endDate" name="endDate" required type="datetime" value="" class="form-control" />
    </div>

    <button class="btn btn-primary">Submit</button>
</form>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {

            var vm =
                {
                };

            // CUSTOMERS
            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/Customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({ minLength: 1, highlight: true }, {
                name: 'customers',
                display: 'Name',
                source: customers
            }).on("typeahead:select", function (e, customer) {
                vm.CustomerId = customer.Id;
            });

            // HOTELS
            var hotels = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/Hotels?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#hotel').typeahead({ minLength: 1, highlight: true }, {
                name: 'hotels',
                display: 'Name',
                source: hotels
            }).on("typeahead:select", function (e, hotel) {
                vm.HotelId = hotel.Id;
                });

            // VALIDATION METHODS

            $.validator.addMethod("validCustomer", function () {
                return vm.CustomerId && vm.CustomerId !== 0;
            }, "Please select a valid customer.");

            $.validator.addMethod("validHotel", function () {
                return vm.HotelId && vm.HotelId !== 0;
            }, "Please select a valid hotel.");


            // VAIDATE AND SUBMIT

            var validator = $("#newOrder").validate({
                submitHandler: function () {
                    bootbox.confirm("Are you sure you want to place this order?", function (result) {
                        if (result)
                        {
                            $.ajax({
                                url: "/api/NewOrders",
                                type: "POST",
                                data: vm
                            })
                                .done(function () {

                                    console.log("success");
                                    toastr.success("Order successfully recorded.");

                                    $("#customer").typeahead("val", "");
                                    $("#hotel").typeahead("val", "");
                                    $("#startDate").val('');
                                    $("#endDate").val('');

                                    vm = {};

                                    validator.resetForm();

                                })
                                .fail(function () {
                                    toastr.error("Something unexpected happened.");
                                });
                        }
                    })

                    return false;
                }
            });

            // DATES
            $(document).on('change keyup paste', "#startDate", function () {
                vm.StartDate = $(this).val();
            });

            $(document).on('change keyup paste', "#endDate", function () {
                vm.EndDate = $(this).val();
            });

        });
    </script>
}