
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="page-header">All Customers</h3>

<div>
    @Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-primary" })
</div>
<br />

<table id="customers" class=" table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Birthdate</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#customers").DataTable(
                {
                    ajax:
                    {
                        url: "/api/customers",
                        dataSrc: ""
                    },
                    columns:
                    [
                        {
                            data: "Name",
                            render: function (data, type, customer)
                            {
                                return "<a href='/customers/edit/" + customer.Id + "'>" + customer.Name + "</a>";
                            }
                        },
                        {
                            data: "Birthdate",
                        },
                        {
                            data: "Id",
                            render: function (data)
                            {
                                return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>";
                            }
                        }
                    ]
                })



            $("#customers").on('click', '.js-delete', function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                    if (result)
                    {
                        $.ajax(
                            {
                                url: "/api/customers/" + button.attr("data-customer-id"),
                                method: "DELETE",
                                success: function () {
                                    button.parents("tr").remove();
                                    toastr.success("Customer successfully removed.");
                                }
                            });
                    }
                });
            });         
        });
    </script>
}


