@{
    ViewBag.Title = "Home Page";
}

<br />

<div class="jumbotron">
    <h1>Book&Go</h1>
    <p class="lead">Simple Hotel Managment System</p>
    <p><a href="~/Views/Hotels/ReadOnlyList.cshtml" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>